/*iPhone < 5:
@media screen and (device-aspect-ratio: 2/3) {}

iPhone 5:
@media screen and (device-aspect-ratio: 40/71) {}

iPhone 6:
@media screen and (device-aspect-ratio: 667/375) {}

iPhone 6 Plus:
@media screen and (device-aspect-ratio: 16/9) {}

iPad:
@media screen and (device-aspect-ratio: 3/4) {}*/


/* iPhone 5 Landscape */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) 
and (orientation : landscape) {
	.content { background-color: maroon; }
	.wrapper { width: 500px; }
	img.album { width: 50px!important; }
}

/* iPhone 5 Portrait */
@media only screen 
and (min-device-width : 320px) 

and (max-device-width : 568px) 
and (orientation : portrait) {
	.content { background-color: teal; }
	.wrapper { width: 450px; }
	img.album { width: 150px!important; }
}



/*@media (min-width: 320px) and (max-width: 480px) {
	.content { background-color: blue; }
	.wrapper { width: 300px; }
	img.album { width: 150px!important; }
}*/

@media (min-width: 481px) and (max-width: 600px) {
	.content { background-color: purple; }
	.wrapper { width: 360px; }
	img.album { width: 180px!important;}
}

@media (min-width: 601px) and (max-width: 800px) {
	.content { background-color: green; }
	.wrapper { width: 400px;}
}

@media (min-width: 801px) and (max-width: 1000px) {
	.content { background-color: orange; }
	.wrapper { width: 600px;}
}

@media (min-width: 1001px) and (max-width: 1200px) {
	.content { background-color: yellow; }
	.wrapper { width: 800px; }
}

@media (min-width: 1201px) and (max-width: 1400px) {
	.content { background-color: pink; }
	.wrapper { width: 1000px; }
}

@media (min-width: 1401px) and (max-width: 1600px) {
	.content { background-color: fuchsia; }
	.wrapper { width: 1200px; }
}

@media (min-width: 1601px) and (max-width: 1800px) {
	.content { background-color: maroon; }
	.wrapper { width: 1400px; }
}

@media (min-width: 1801px) and (max-width: 2000px) {
	.content { background-color: teal; }
	.wrapper { width: 1600px; }
}

@media (min-width: 2001px) and (max-width: 2050px) {
	.content { background-color: red; }
	.wrapper { width: 1800px; }
}



html, body { background-color: #000000; margin: 0px; padding: 0px;
}

.content {
	overflow: hidden;
	margin: 10px;
	padding: 0px;
}

.wrapper {
	margin: 0px auto;
	min-height: 100px;
	overflow: hidden;	
}
	
img {
	float: left;
}

img.album {
	width: 200px;
	background-color: grey;
	}

